#mushrooms-title {
  color: brown;
  width: 500px;
  height: 300px;
  background-color: red;
}

#trees-title {
  color: green;
}

.title {
  font-family: monospace;
}

img {
  width: 500px;
}

.tae {
  border: dotted 50px green;
}